{% include 'mysite/header.html' %}
{% load static %}
<div class="container">
    <p>村长候选人:</p>

    {% for candidate in candidates1 %}
        <div id="candidates" style="float:left;padding-left: 20pt">
            <a href="{% url "mysite:candidate" candidate.id %}">
                <img src="{% if candidate.picfile %}{{candidate.picfile.url}} {% endif %}" width="70" height="100" alt="Some image">
                <p>{{ candidate.user.username }}&nbsp;{{ candidate.user.suffix }}</p>
            </a>
        </div>
    {% endfor %}
</div>
<br> <br>
<div class="container">
    <p>委员候选人:</p>
    {% for candidate in candidates0 %}
        <div id="candidates" style="float:left;padding-left: 20pt">
            <a href="{% url "mysite:candidate" candidate.id %}">
                <img src="{% if candidate.picfile %}{{candidate.picfile.url}} {% endif %}" width="70" height="100" alt="Some image">
                <p>{{ candidate.user.username }}&nbsp;{{ candidate.user.suffix }}</p>
            </a>
        </div>
    {% endfor %}
</div>

<style type="text/css">
    #navcandidates {color:red;}
</style>