{% include 'mysite/header.html' %}
{% load bootstrap %}
{% load static %}
<div class="container">
    <div class="container">
        {% if documents %}
            <ul>
            {% for document in documents %}
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }} &nbsp;{{ document.uid }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
    </div>

    <div class="container">
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'mysite:login' %}" method="post" enctype="multipart/form-data">

                {{form | bootstrap}}

            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </div>
</div>
