{% include 'mysite/header.html' %}
{% load bootstrap %}
{% load static %}

{% if uid %}
    <div class="container">
        <a href="{% url "mysite:clearlogincookies" %}">用户{{ uid }}您已经登陆，点此退出</a>
    </div>
{% else %}
    <div class="container" align="center">
        <form action="{% url 'mysite:loginpwd' %}" method="post">

                {{form.as_p}}

            </p>
            <p><input type="submit" class="btn btn-default" value="已登记的点此登陆" />&nbsp;<a href="{% url 'mysite:picreg' %}" class="btn btn-default" >没登记的点此注册</a></p>
        </form>
    </div>
{% endif %}

<style type="text/css">
    #navloginpwd {color:red;}
</style>

{% include 'mysite/footer.html' %}

