{% include 'mysite/header.html' %}
{% load bootstrap %}
{% load static %}
<div class="container">


    <div class="container">
        <!-- Upload form. Note enctype attribute! -->
        <form
                {% if picreg %}
                    action="{% url 'mysite:picreg' %}"
                {% else %}
                    action="{% url 'mysite:login' %}"
                {% endif %}
              method="post" enctype="multipart/form-data">

                {{form | bootstrap}}

            </p>

            <p><input class="btn btn-default" type="submit"
                        {% if picreg %}
                            value="提交登记申请"
                        {% else %}
                            value="Upload"
                        {% endif %}

                    /></p>
        </form>
    </div>
</div>
{% include 'mysite/footer.html' %}