{% load static %}

<div class="container-fluid">
    <!-- Second navbar for categories -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'mysite:polls' type=1 %}">选举系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="{% url 'mysite:polls' type=1 %}">主页</a></li>
            <li > <a id="navloginpwd" href="{% url 'mysite:loginpwd' %}">选民入口 </a> </li>
            <li > <a id="navtextorg" href="{% url "mysite:gettext" 0 %}">选举机构 </a> </li>
            <li > <a id="navtextpln" href="{% url "mysite:gettext" 1 %}">选举方案 </a> </li>
            <li > <a id="navcandidates" href="{% url "mysite:candidates" %}">候选人名单 </a> </li>
            <li > <a id="navvoters" href="{% url "mysite:voters" %}">选民名单 </a> </li>
            <li > <a id="navopen" href="{% url 'mysite:polls' type=1 %}">进行的投票 </a> </li>
            <!-- <li > <a id="navall" href="{% url 'mysite:polls' type=0 %}">所有的投票 </a> </li> -->
            <li > <a id="navadmin" href="{% url 'mysite:admin' %}">管理员入口 </a> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div>