{% include 'mysite/header.html' %}
{% load static %}

<script>
    jQuery(function(){
    var limit = 3;
    $('input.single-checkbox').on('change', function(evt) {
       if($(this).siblings(':checked').length >= {{ topic.commitcnt }}) {
           this.checked = false;
       }
    });
});

    function validate(form) {
        var valid = confirm('投票之后无法修改，请谨慎进行投票！！！！')
        if(!valid) {
            return false;
        }
        else {
            return confirm('这是最后一次警告，点击确定后进行投票操作！！！');
        }
    }

    function getVote(optid) {
      if (window.XMLHttpRequest) {
        // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      } else {  // code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
          document.getElementById("poll").innerHTML=xmlhttp.responseText;
        }
      }
      xmlhttp.open("GET", "/pollvote/{{topic.id}}" + "/" + optid, true);
      xmlhttp.send();
    }
</script>




<div class="container" id="poll">
    <form onsubmit="return validate(this);" class="form-poll" action="{% url 'mysite:pollvote' %}" method="post" enctype="multipart/form-data">
        <h3>{{ topic.text }}</h3>
        <div id="cz">
        选村长(单选)：<br>
        {% for opt in topic.choices.all %}
            <input type="radio" name="vote" value="{{ opt.id }}" /> {{ opt.text }} <br>
        {% endfor %}
        <br>
        </div>
        <div id="wy">
        选村长(最多选{{ topic.commitcnt }}个)：<br>
        {% for opt in topic.choices2.all %}
            <input type="checkbox" class="single-checkbox" name="checkbox{{ opt.id }}" value="{{ opt.text }}" /> {{ opt.text }} <br>
        {% endfor %}
        </div>
        <input type="submit" class="btn btn-default" value="提交" />
    </form>
</div>