{% include 'mysite/header.html' %}
{% load static %}
{% load custom_filter %}
{% if type == 0 %}
    <div class="container" align="center">
        <h3>{{ topic.text }}</h3>
        <br><br>
        <a href="{% url "mysite:pollresult" topic.id 1 %}"><h2> 点击查看村长竞选结果</h2> </a>
        <br>
        <a href="{% url "mysite:pollresult" topic.id 2 %}"><h2> 点击查看委员竞选结果</h2> </a>
    </div>
{% elif type == 1 %}
<div class="container">
    <h2>{{ topic.text }} 村长竞选结果:</h2>
    <table>
        {% for choice in choices %}
            <tr>
            <td>{{ choice.text.username }} &nbsp  {{ choice.text.suffix }}: </td>
            <td>
            <img src="{% static "poll.gif" %}"
            width='{{ choice.val|mult:100 | div:cnt }}'
            height='20'>
            {{ choice.val  }}票
            </td>
            </tr>
        {% endfor %}
        <br>

    </table>
    <a href="{% url "mysite:pollresult" topic.id 0 %}">返回 </a>
</div>
{% else %}
<div class="container">
    <h2>{{ topic.text }} 委员竞选结果:</h2>
    <table>
        {% for choice in choices2 %}
            <tr>
            <td>{{ choice.text.username }} &nbsp  {{ choice.text.suffix }}: </td>
            <td>
            <img src="{% static "poll.gif" %}"
            width='{{ choice.val|mult:100 | div:cnt2 }}'
            height='20'>
            {{ choice.val  }}票
            </td>
            </tr>
        {% endfor %}
        <br>

    </table>
    <a href="{% url "mysite:pollresult" topic.id 0 %}">返回</a>
</div>
{% endif %}

<style type="text/css">
    #navall {color:red;}
</style>
